*{
    margin: 0;
    padding: 0;
}
.logo{
    margin: 184px 159px -28px;
    padding: 2px;
    width: 295px;
}
.connect{
    margin: 0 189px;
}
pre{
    font-size: 30px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
.details{
    width: 396px;
    height: 345px;
    background-color: #fff;
    margin: -222px 771px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border: none;
    line-height: 16px;
}
.btn{
    margin: 25px 19px;
    width: 348px;
    height: 49px;
    background-color: #1877f2;
    border-radius: 6px;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
}
input{
    width: 347px;
    margin: 27px 18px -9px;
    height: 47px;
    border-radius: 6px;
    display: inline-block;
    font-size: 17px;    
    text-align: center;
    color: rgb(98, 100, 104);
    background: #FFFFFF url(/rsrc.php/v3/yO/r/YQNfPR9MJfx.png) repeat-x;
    border: 1px solid #dddfe2;
  border-top-color: rgb(221, 223, 226);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(221, 223, 226);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(221, 223, 226);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(221, 223, 226);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
}
.forgotten{
    margin-top: -14px;
    color: #1877f2;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}
body{
    background-color:rgba(230, 237, 240, 0.64);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
}
hr{
    color: #ededee;
    width: 357px;
    margin: 20px 15px;
}
.btn1{
    width: 200px;
    height: 49px;
    background-color: #42b72a;
    color: white;
    font-size: 17px;
    margin: 0px 92px;
    border: none;
    border-radius: 6px;
    line-height: 48px;
    cursor: pointer;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: currentColor;
    text-decoration-thickness: auto;
    white-space: nowrap;
    border: none;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: medium;
  border-right-color: currentcolor;
  border-right-style: none;
  border-right-width: medium;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-left-color: currentcolor;
  border-left-style: none;
  border-left-width: medium;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
}
.page h2{
    margin: 50px 55px;
    width: 397px;
    font-size: 14px;
    cursor: pointer;
}
.page p{
    margin: -65px 158px;
    width: 396px;
    font-size: 12px;
}